@charset "uft-8";
/*全体画像の設定*/
html {
    background-image: url(../images/black.jpg);
}
/*ヘッダーの設定*/
header{
    width: 980px;
    margin: 0 auto;
}

header h1 {
    float: left;
    margin: 5px 0 10px;
    color:brown;
}

header #header_datapack {
    display:  block;
    padding: 10px;
    color: olivedrab;
    text-decoration: none;
    float: right;
    margin: 30px 0 0;
}

#header_datapack a:hover{
    background-color: rgb(163, 16, 114);
}

img {
    vertical-align: bottom;
}

/*Main部分*/
#main {
    padding: 30px 30px 30px 20px;
    border-bottom: solid 1px purple;
}
#main h1{
    background-color: yellowgreen;
}

#main ol li {
    background-color: white;
}

/*上位タブ設定*/

#global{
    width: 980px;
    clear: both;
    overflow: hidden;
    margin: 16px auto;
}

#header_contact {
    background-image: url(../images/button.png);
    color: white;
    font-size: 30px;
}

#global ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#global ul li {
    width: 195px;
    float: left;
    margin-right: 1px;
    text-align: center;
}

#global ul li img{
    width: 16px;
}

#global ul li a {
    display:  block;
    padding: 16px;
    background-color:lightskyblue;
    color: black;
    text-decoration: none;
}

#global ul li a:hover{
    background-color: rgb(163, 16, 114);
}

body section p {
    width: auto;
    text-align: left;
    color: black;
    font-size: 24px;
}

/*wrapperの設定*/
#wrapper {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    margin-top:0;
}
p{
    margin-top: 0;
    line-height: 1.6;

}
/*Sidebanner*/

#side_banner {
    margin-bottom: 30px;
}

#side_banner h2 {
    background-color: black;
    color: white;
    padding: 7px;
    font-size: 14px;
    text-align: center;
}

#side_banner ul {
    list-style: none;
    margin:0;
    padding: 0;
}

#side_banner ul li {
    margin-bottom: 10px;
}
#side_contact{
    margin-bottom: 30px;
}

#side_contact{
    border: 1px solid #b7a077;
    color: white;
    text-align: cneter;
}

article{
    background-color: rgb(255, 255, 255);
    text-align: center;
    list-style:none;
}
article.listScroll{
    /*テーブルの幅が100px以上の場合スクロール*/
    width: 100px;
    /*テーブルの縦幅が100px以上の場合スクロール*/
    height: 100px;
    /*縦スクロール*/
    overflow: scroll;
    /*横スクロール*/
    overflow-x: scroll;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

#footer {
    background-color: blanchedalmond;
}

#news{
    float:right;
}

#datapack p{
    font-size: 25px;
}

#rule1 p{
    text-align: left;
}

#mainlist {
    font-size:smaller;
    text-align: left;
  }
  
  #mainlist ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #mainlist ol li{
    display: inline;
  }
  
  #mainlist ol li::after{
    content: ">";
    padding-left: 7px;
  }
  
  #mainlist ol li:last-child::after{
    content: none;
  }

  .calculator_area{
    height: 600px;
    width: 400px;
    border: solid 3px #000000;
  }
  
  .calc_area{
    height: 60px;
    width: 300px;
    border: solid 3px #000000;
    margin-left:40px;
    margin-top: 20px;
  }
  
  .calcbox{
    height: 53px;
    width: 293px;
    border:solid 0px;
    font-size: 40px;
  }
  
  .button_area{
    margin:20px;
    height:480px;
    width: 350px;
    display:flex;
    flex-wrap: wrap;
  }
  
  .button{
    height:50px;
    width: 15%;
    margin-top:20px;
    margin-left:23px;
    border: solid 3px #000000;
    text-align:center;
    background-color: #000000;
  }
  .button_text{
    text-align:center;
    font-weight: bold;
    color: #ffffff;
  }